/* universal */

html {
  font-size : 60px;
}

body {
  color            : hsla(292, 25%, 24%, 0.9);
  background-color : hsl(43, 89%, 84%);
}

.center {
  text-align : center;
}

footer,
header {
  margin-top : 0.1rem;
}

.choice {
  width               : 1rem;
  padding             : 0.1rem;
  color               : hsl(43, 89%, 84%);
  border-color        : hsla(292, 25%, 24%, 0.5);
  border-width        : 1px;
  border-style        : dotted;
  border-radius       : 0.5rem;
  background-color    : hsla(292, 25%, 24%, 0.9);
  transition-property : all;
  transition-duration : 0.4s;
}

.choice:active {
  color            : hsla(292, 25%, 24%, 0.9);
  background-color : hsl(43, 89%, 84%);
}

.choice:hover {
  transform : scale(1.2);
}

/* header */

header {
  padding-bottom : 0.1rem;
  border-bottom  : solid 1px hsla(292, 25%, 24%, 0.9);
}

.rank {
  display         : flex;
  align-items     : baseline;
  justify-content : center;
}

#rankCount {
  margin-left : 0.2rem;
  /* display: none; */
}

.ranks {
  display          : none;
  position         : fixed;
  top              : 0;
  width            : 100%;
  min-height       : 5rem;
  max-height       : 10rem;
  border-radius    : 0.2rem;
  background-color : hsla(0, 0%, 0%, 0.85);
  align-items      : center;
  flex-wrap        : wrap;
  justify-content  : center;
  /* flex-direction: column; */
}

.ranks span {
  margin  : 0.5rem;
  padding : 0.4rem;
}

/* board */

.board {
  display         : flex;
  height          : 294px;
  margin-top      : 0.5rem;
  align-items     : center;
  justify-content : center;
}

.answers {
  display         : flex;
  height          : 294px;
  flex-direction  : column;
  flex-wrap       : wrap;
  justify-content : center;
}

#answer1,
#answer3,
#answer4,
#answer5,
#answer6 {
  display : none;
}

.board .choice {
  margin : 0.2rem 0.4rem 0.2rem 0;
}

.board span {
  font-weight : bold;
}

#equal {
  width      : 1rem;
  text-align : center;
}

/* footer */

footer {
  padding-top : 0.1rem;
  border-top  : solid 1px hsla(292, 25%, 24%, 0.9);
}

footer div {
  display : inline-block;
}

.efforts {
  margin-right : 0.5rem;
}

#multTableQ {

}

.multTable {
  z-index          : 1;
  /* display          : grid; */
  position         : absolute;
  top              : 0;
  left             : 0;
  width            : 100%;
  color            : hsl(43, 89%, 84%);
  border-radius    : 0.2rem;
  background-color : hsla(0, 0%, 0%, 0.85);
  grid-gap         : 8px;
  grid-template    : 1.3fr repeat(9, 1fr)/ 1.3fr repeat(9, 1fr);
  display: none;
}

.multTable span {
  display       : block;
  min-width     : 31px;
  min-height    : 31px;
  border        : 1px hsl(43, 89%, 84%) dashed;
  border-radius : 0.2rem;
  font-size     : 0.5rem;
  /* height: 2rem; width: 2rem; */
}

.errors {
  margin-left : 0.5rem;
}

/* journal */

.journal {
  display        : flex;
  margin         : 0.1rem 1rem;
  align-items    : center;
  flex-direction : column;
}

h3 {
  display    : inline-block;
  font-size  : 0.9rem;
  font-style : italic;
}

#multTableQ {
  display: inline-block;
  transition : 0.3s;
  width: 85px
}

#multTableQ:hover {
  font-weight : bold;
  transform   : scale(1.5);
}



.goodAnswers {
  display         : flex;
  align-items     : stretch;
  flex-wrap       : wrap;
  justify-content : space-between;
}

.goodAnswers p {
  min-width    : 300px;
  padding-left : 1rem;
}
