/* universal */

html {
    font-size: 60px;
}

@media only screen and (max-height: 600px) {
  html {
      font-size: 40px;
  }
}

@media only screen and (max-height: 400px) {
  html {
      font-size: 33px;
  }
}

@media only screen and (min-height: 601px) {
  html {
      font-size: 65px;
  }
}


body {
    color: hsla(292, 25%, 24%, 0.9);
    background-color: hsl(43, 89%, 84%);
}

.center {
    text-align: center;
}

footer,
header {
    margin-top: 0.1rem;
}

.choice {
    width: 1rem;
    padding: 0.1rem;
    color: hsl(43, 89%, 84%);
    border-color: hsla(292, 25%, 24%, 0.5);
    border-width: 1px;
    border-style: dotted;
    border-style:outset;
    border-radius: 0.5rem;
    background-color: hsla(292, 25%, 24%, 0.9);
    transition-property: all;
    transition-duration: 0.4s;
}

    .choice:active {
        color: hsla(292, 25%, 24%, 0.9);
        background-color: hsl(43, 89%, 84%);
    }

    .choice:hover {
        transform: scale(1.2);
    }

/* header */

header {
    padding-bottom: 0.1rem;
    border-bottom: solid 1px hsla(292, 25%, 24%, 0.9);
}

.rank {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#rankCount {
    margin-left: 0.2rem;
    /* display: none; */
}

.ranks {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 5rem;
    max-height: 10rem;
    border-radius: 0.2rem;
    background-color: hsla(0, 0%, 0%, 0.85);
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
}

    .ranks span {
        margin: 0.5rem;
        padding: 0.4rem;
    }

/* board */

.board {
    display: flex;
    height: 4.9rem;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
}

.answers {
    display: flex;
    height: 4.9rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#answer1,
#answer3,
#answer4,
#answer5,
#answer6 {
    display: none;
}

.board .choice {
    margin: 0.2rem 0.4rem 0.2rem 0;
}

.board span {
    font-weight: bold;
}

#equal {
    width: 1rem;
    text-align: center;
}

/* footer */

footer {
    padding-top: 0.1rem;
    border-top: solid 1px hsla(292, 25%, 24%, 0.9);
}

    footer div {
        display: inline-block;
    }

.residue {
    margin-right: 0.5rem;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.multTable {
    margin-top: 0.3rem;
    position: absolute;
    z-index: 1;
    display: none;
    width: auto;
    height: auto;
    color: hsla(59, 100%, 50%, 1);
    border-radius: 0.2rem;
    background-color: hsl(43, 89%, 84%);
    align-items: center;
    grid-template: repeat(10, 1fr)/ repeat(10, 1fr);
}

    .multTable span {
        display: block;
        font-size: 0.6rem;
        padding: 0.12rem;
        text-align: center;
        color: hsla(43, 66%, 88%, 0.85);
        background-color: hsla(292, 25%, 24%, 0.9);
        border-color: grey;
        border-style: groove;
        border-width: thick;
        /* transition-property: color;
        transition-duration: 1.5s; */
    }

span.header {
    border-color: hsl(43, 89%, 84%);
    border-style: outset;
}

#n00 {
    border: 1px black solid;
    font-weight: bold;
}

    #n00:active,
    #n00:hover {
        color: hsl(0, 100%, 50%);
        border-color: hsl(0, 100%, 50%);
        border-style: double;
    }

.errors {
    margin-left: 0.5rem;
}

/* journal */

.journal {
    display: flex;
    margin: 0.1rem 1rem;
    align-items: center;
    flex-direction: column;
}

h3 {
    display: inline-block;
    font-size: 0.9rem;
    font-style: italic;
}

#multTableQ {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: hsl(43, 89%, 84%) 2px solid;
    border-radius: 50%;
    transition: 0.6s;
}

    #multTableQ:hover {
        border-color: hsla(292, 25%, 24%, 0.9);
    }

.goodAnswers {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .goodAnswers p {
        min-width: 300px;
        padding-left: 1rem;
    }
